#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
  gap: 1rem;

}

.form input {
  font-size: 1.3rem;
  padding-inline: 10px;
  cursor: pointer;
  background-color: #FFEFD7;
  border-radius: 10px;
}

.form button {
  font-size: 1.3rem;
}

table {
  width: 100%;
}

th, td {
  border: 2px solid black;
  background: rgba(127, 255, 212, 0.312);
  border-radius: 10px;
}

th {
  font-size: 1.2rem;
  cursor: default;
  padding-block: 1rem;
}

td:not(.item-actions) {
  padding-block: 10px;
}

.item-actions {
  padding-block: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.item-date, .item-distance {
  cursor: default;
}

.item-date:hover, .item-distance:hover {
  background-color: #646cff96;
  color: white;
}

.item-delete-btn:hover {
  background-color: rgba(220, 20, 60, 0.564);
  color: white;
}

